
body { 
    background-image: url('pics/2022-05-02T203307Z_846154953_RC20ZT9XUMC8_RTRMADP_3_UKRAINE-CRISIS-MARIUPOL-AZOVSTAL-768x535.jpeg');
    background-size: cover;
    background-repeat: no-repeat;  
}

div, input,select {
    text-align:center;
    font-family: "Papyrus"
}